* {
    margin: 0;
    padding: 0;

}
body {
    background-image: url(/img/Sala\ de\ pesas.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #00F7C7;
    text-align: center;
    background-color: rgb(0, 0, 0, 0.5);
    background-blend-mode: darken;
}


.cabecera {
    display: flex;
    padding: 10px;
    color: #00F7C7;
    background-color: #434343;
    border-bottom: 5px solid #00F7C7;
    justify-content: space-between;
}
.logo-titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 30px;
    margin-left: 30px;
    margin-right: 20px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-content: end;
    gap: 20px;
    margin-left: 20px;
}
nav a{
    text-decoration: none;
    color: black;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    display: inline-block;
    width: 130px;

}
nav a:hover{
    background-color: #00F7C7;
    color: black;
    transition: 0.5s;
}
.titulo{
    display: flex;
    height: 80vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    color: white;
}
.logo {
    width: 120px;
    border-radius: 30px;
}



.seccionCrossfit{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 50px;
    align-items: center;
    padding: 10px;
    border-top: 5px solid #00F7C7;
    color: #00F7C7;
    background-color: #434343;
}
.contenedorInfoCrossfit{
    display: flex;
    padding: 80px;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
p{
    text-align: left;
}
.imagen img{
    width: 500px;
    height: 500px;
    border-radius: 30px;
}
ul{
    margin-left: 17px;
    text-align: left;
}
li{
    margin-top: 10px;
    margin-bottom: 10px;
    list-style: none;
}
section{
    background-color: #434343;
}

.texto p , .textoTabla {
    color: white;
}




.seccionHorarios{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 50px;
    align-items: center;
    padding: 10px;
    border-top: 5px solid #00F7C7;
    border-bottom: 5px solid #00F7C7;
    color: #00F7C7;
    background-color: #434343;
}
.tablaHorarios table{
    margin: 0 auto;
    width: 80%;
    background-color: #434343;
}
.tablaTiposEntrenamiento{
    margin-bottom: 20px;
}
.tablaTiposEntrenamiento table{
    margin: 0 auto;
    width: 40%;
    background-color: #434343;
    color: white;
}
.tituloTiposEntrenamiento td{
    color:  #00F7C7;
}
table, tr, td {
    border: 2px solid rgb(255, 255, 255);
    border-collapse: collapse;
    text-align: center;
    padding: 10px;
}
.cabeceraHorarios h1, .cabeceraTiposEntrenamiento h1{
    padding: 20px;
}



footer{
    background-color: #434343;
    color: #00F7C7;
    text-align: center;
    justify-content: center;
    display: flex;
    padding: 10px;
}



@media (max-width: 768px) {
    .cabecera {
        flex-direction: column; 
        text-align: center;
        align-items: center;
    }
    .titulo{
        font-size: 30px;
    }
    .imagen img{
        width: 200px;
        height: 200px;
    }
    .logo-titulo {
        flex-wrap: wrap;
    }

    nav {
        flex-direction: column; 
        gap: 10px; 
        margin-top: 10px;
    }

    nav a {
        font-size: 16px; 
        margin-right: 10px;
    }
    .contenedorInfoCrossfit{
        flex-wrap: wrap;
        padding: 50px;
    }   
    .contenedorInfoCrossfit p{
        text-align: center;
    }
    ul{
        text-align: center;
    }
    li{
        text-align: center;
    }
    table {
        font-size: 10px;
    }
    th, td {
        padding: 3px; 
    }
}