* {
    margin: 0;
    padding: 0;

}

body {
    background-image: url(../img/Z_Nero\ AI_Photo_Face\ \(1\).png);
    /* Asegúrate de que esta imagen esté en la carpeta del proyecto */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #00F7C7;
    text-align: center;
    background-color: rgb(0, 0, 0, 0.5);
    background-blend-mode: darken;
}

.cabecera {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 50px;
    align-items: center;
    font-family: Bebas Neue;
    padding: 10px;
    color: #00F7C7;
    background-color: #434343;
    border-bottom: 5px solid #00F7C7;
}

.logo {
    width: 120px;

}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.hero h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: Bebas Neue;
}

.hero p {
    font-size: 1.5rem;
    margin-bottom: 50px;
    font-family: Bebas Neue;
}

.buttons {
    display: flex;
    gap: 50px;
}

.btn {
    background-color: #00F7C7;
    color: #333;
    font-size: 1.5rem;
    padding: 20px 50px;
    border: 4px solid #024034;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
    font-family: Bebas Neue;
}

.btn:hover {
    background-color: #023128;
    color: white;
}